.home .header .cart {
  display: none;
}

.home .header .main-nav {
  display: none;
}

.home .header__wrapper {
  top: 37px;
  left: 15px;
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.main-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
}

.box {
  position: relative;
  text-align: center;
  height: 120px;
  border-radius: $radius;

  &_up {
    width: 49.5%;
    cursor: pointer;
  }

  &_down {
    margin-top: 5px;
    background-color: #FE9090;
    width: 100%;
  }
}

.box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius;
}

.box-title {
  @extend .h1;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition: 1s;
}

.box-description {
  font-size: 13px;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  white-space: nowrap;
  opacity: 0;
  transition: 1s;
}

.box_up:hover .box-title {
  top: 35%;
}

.box_up:hover .box-description {
  opacity: 1;
  top: 60%;
}

.box_down-title {
  @extend .h1;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.box_down-opening {
  @extend .h2;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.carousel {
  margin: 70px 0;
}

.slide {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.slide-image {
  flex: 2;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $radius;
  padding-right: 20px;
}

.slide-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide-text {
  flex: 1;
  justify-content: center;
}

.slide-text a{
  text-transform: uppercase;
}

.slide-description {
  margin: 12px 0 0 0;
}

.slide-author {
  margin: 0;
  padding: 1px 0 0 6px;
  font-style: italic;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 38px 6px 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_dot .dot:hover {
  background-color: #717171;
}

.gallery-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.gallery-image {
  position: relative;
  width: 30%;
  height: 190px;
  overflow: hidden;
  border-radius: $radius;
  margin: 3px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image:after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  position: absolute;
  transition: all 1s;
  top: 0;
  left: 0;
}

.gallery-image:hover::after {
  opacity: 0.6;
}

.heart-icon {
  z-index: 1;
  background: none;
  color: white;
  font-size: 22px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top: 51%;
  left: 39%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  transition: all 1s;
}

.share-icon {
  z-index: 1;
  background: none;
  color: white;
  font-size: 22px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
  top: 51%;
  left: 57%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  transition: all 1s;
}

.gallery-image:hover > .share-icon {
  opacity: 1;
}

.gallery-image:hover > .heart-icon {
  opacity: 1;
}

.heart-icon:hover {
  color: #FE9090;
}

.share-icon:hover {
  color: #33AFC0;
}

.social-media {
  text-align: center;
}

.social-btn {
  text-decoration: none;
  margin: 5px;
  color: #33AFC0;
  font-size: 30px;
  display: inline-flex;
  transition: .5s;
}

.social-btn:hover {
  transform: scale(1.2);
}

@media only screen and (max-width:700px){
  .box-title,
  .box_down-title,
  .box_down-opening {
    width: 100%;
  }

  .box-description {
    display: none;
  }
}

@media only screen and (max-width:510px){
  .slide {
    flex-direction: column;
  }

  .slide-image {
    padding: 0;
  }

  .gallery-image {
    width: 45%;
    height: 100px;
  }

  .heart-icon {
    left: 30%;
  }

  .share-icon {
    left: 60%;
  }

}
